body {
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
   /* border-radius: 20px;*/
    /*box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);*/
}

.blackbackground {
   background: linear-gradient(to right, black , red);
    
}
nav img {
   margin-right:10px; 
    
}
#footer {
    font-size:15px;
    font-weight: bold;
    color:white;
    height:40px;
    max-width:100%;
    background: linear-gradient(to right, black , red);
}
.jumbotron {
    
    background:linear-gradient(grey, white);
}

.gallery-container h1 {
    text-align: center;
   
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
   /* padding: 40px;*/
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: ;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
    width:200px;
    height:200px;

}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 580px) {
    body .tz-gallery img {
        width: 100px;
        height:100px;
    }

    .container.gallery-container div.tz-gallery div.row.mb-3 {
      
        width:100%;
    }
    
      .container.gallery-container div.tz-gallery div.row.mb-3 div {
          float:left;
        width:100px;
          margin: 10px;
    }
    
}