#prices h1 {
    margin-left:170px;
    
    
}
#prices ul {
   
    font-size:20px;
    font-weight:bold;
    
}
.btn.btn-lg.btn-primary {
    
    background: linear-gradient(pink,red);
}

#prices {
    color:;
    box-shadow: 5px 10px 10px 5px #888888;
}

.blackbackground {
   background: linear-gradient(to right, black , red);
    
}

#product {
   padding-right:0px; 
    
}
nav img {
   margin-right:10px; 
    
}

#footer {
    
    font-size:15px;
    font-weight: bold;
    color:white;
    height:40px;
    max-width:100%;
    background: linear-gradient(to right, black , red);
}